/* Header */
.imgCalavera {
    width: 50px;
}

.w-100 {
    height: 500px;
}

.w-100 {
    width: 98.5%!important;
}



.d-block {
    border: solid black 2px;
    border-radius: 10px;
    margin: 15px;

}
/* navbar */
.nav-link {
    color: white;
}


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: white;
}

.navbar-nav {
    color: white;
}

.navbar-brand {
    color: white;
}

/* main */
main {
    height: 100%;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.skate {
    display: flex;
    justify-content: center;
}


.card-title {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    display: block;
    justify-content: center;
    max-width: 300px;
    border: solid black;
    height: 100%;
}

.card:hover {
    width: 450px;
}

.banner {
    display: flex;
    justify-content: center;
}


.rueda {
    display: flex;
    justify-content: center;
}

.remera {
    display: flex;
    justify-content: center;

}

.buzo {
    display: flex;
    justify-content: center;

}

.zapatillas {
    display: flex;
    justify-content: center;
}

.card {
    margin: 10px 10px 0px 10px;
}

/* pagina mi cuenta */
.form-control {
    display: flex;
}

.form-floating {
    display: flex;
    justify-content: center;
    width: 500px;
}

/* footer */

.footer p {
    color: white;
}

.footer a {
    height: 100px;
}


.footerAccountLogos {
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
}

/* mediaqueris */

@media (max-width: 1270px) {
    .card {
        width: 250px;
    }

    .w-100 {
        height: 350px;
        max-width: 97%;
    }
}

@media (max-width: 950px) {
    .skate {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .remera {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .rueda {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .buzo {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .zapatillas {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 35%;
    }
    .w-100 {
        max-width: 95%;
    }

    .form-floating {
        width: 350px;
    }
}

@media (max-width:550px){
    .w-100 {
        height: 200px;
        max-width: 95%;
    }
    .form-floating {
        width:250px
    }
}

@media (max-width: 470px) {
    .banner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .skate{
        flex-direction: column;
    }
    .remera{
        flex-direction: column;
    }
    .rueda{
        flex-direction: column;
    }
    .buzo {
        flex-direction: column;
    }
    .zapatillas {
        flex-direction: column;
    }
}